* {
  margin:0;
  padding:0;
}
/*Navigacija-home gore */
#nav-bar {
  position:sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img{
  height: 40px;
  padding-left: 30px;
}
.navbar-nav li{
  padding:0 10px;
}
.navbar-nav li a{
  float: right;
  text-align: left;

}
#nav-bar ul li a:hover{
  color: red!important;
}
.navbar {
  background:#fff;
}
.navbar-togler {
  border: none!important;
}
.nav-link {
  color: #555!important;
  font-weight: 600;
  font-size:16px;
}
#firstlook {
  width:100%;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;

}
.carousel-caption h5{
  color: #fff;
  font-size: 42px;

}
/*Navigacija-sadržaj-o nama*/
#about {
  padding-top: 80px;
  padding-bottom: 80px;
  color: black;

}
.about-content {

  padding-top: 50px;
  font-weight: bold;
  background-color: white;
  letter-spacing: 0.1em;
  font-size:17px;
}
*, *:before, *:after {
  box-sizing: border-box;
  }
  
  body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
  }
  header p {
  padding: 50px;
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  }
  
/*Navigacija-dugmići-meni */
.btn-group{
  padding-top:30px;
}
.sastav{
  padding-top:80px;
  font-family: popins;
  font-size:20px;
}
.btn-group-toggle{
  padding-top:40px;
}
.btn-group1{
  padding-top:30px;
}
.sastav1{
  padding-top:110px;
  font-family: popins;
  font-size:20px;
}
.btn-group-toggle1{
  padding-top:30px;
}
/*Navigacija-kontakt*//
.form-control{
  border: 2px solid #cbd0d3;
  border-radius: 0;
  padding: 0 25px;
  line-height: 45px;
  height: 45px;

}
.btn-primary{
  background-color: #1abc9c;
}
.btn-primary:hover{
  background-color: #16a085;
}
.h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 80px;
} 
.sekcija{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.centar{
  display: flex;
}

/*Navijacija-footer dole*/
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
  color: #fff;
  background-color: red;
  }

.fa {
  padding:20px;
  font-size:40px;
  width:60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  display: inline-block;
}
.social-icon{
  padding-left:100px;
  padding-top: 80px; 
}
.fa:hover{
  opacity: 0.7;
}
.fa-facebook{
  background:#3B5998;
  color:white
}
.fa-twitter{
  background:#55ACEE;
  color:white;
}
.fa-youtube{
  background:#bb0000;
  color:white;
}
.p1{
  padding-top:90px;
  padding-left: 30px;
}