h1{
	width: 100%;
	height: 70px;
	font-size:24pt;
	text-align:center;
	text-shadow: 3px 3px #999999;
	font-family: "Times New Roman" , Times, serif;
}
#header {
	padding:0;
	background-repeat: repeat-x;
	z-index: -1;
	margin:auto;
	padding-bottom: 1rem;
	font-size:48pt;
	font-weight:bold;
	color:red;
	padding: 0px;
	text-align:center-left;
	background-image:url(images/rbg.png);
}

body,
html {
	margin:0;
	padding:0;
	background:#EEEEEE;
}

#wrap {
	width:750px;
	margin:0 auto;
	background-image:url(images/background.png);
}
#main {
	float:left;
	width:550px;
	background:#CCCCCC;
}
#sidebar {
	float:right;
	width:200px;
	background:#A2B964;
	padding:10px;
}
#footer {
	clear:both;
	position:center;
	background: #A2B964;
	padding:5px 10px;
}
* html #footer {
	height:1px;
}
#w3c {
position:absolute;
right:0px;
z-index:-1;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav li {
	display:inline;
	margin:0;
	padding:0;
}
#nav {
	padding:5px 10px;
	background:#A2B964;
}